body {
    background-color: #222c36;
    font-family: monospace;
    color: #67db85;
    margin: 0;
    padding: 20px;
}

.terminal {
    border: 2px solid #67db85;
    border-radius: 5px;
    padding: 20px;
    background-color: #222c36;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    color: #00ff00;
    /* Green text color */
    margin-bottom: 10px;
}

p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

.blink {
    animation: blink 1s infinite;
    color: transparent;
}

@keyframes blink {
    50% {
        color: #67db85;
    }
}